body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-around;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.location-datetime {
  display: flex;
  gap: 20px;
  align-items: center;
}
.day,
.location{
  font-size: 6vmin;
}

.datetime{
  font-size: 3vmin;
}

.temperature {
  display: flex;
  font-size: 5vmin;
  align-items: center;
}

.temp-unit-divider{
  margin: 0px 5px;
}

.forecast-type-selected,
.temp-unit-selected{
  font-weight: 500;
}

.forecast-type-unselected,
.temp-unit-unselected{
  font-weight: 500;
  opacity: 50%;
}

.current-weather-stats > img {
  height: 4vmin;
}

.current-weather {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.current-weather-stat,
.current-weather-stats {
  display: flex;
  font-size: 32px;
  align-items: flex-end;
}

.current-wind-stats{
  font-size: 3vmin;
}

.current-weather-conditions,
.current-weather-desc{
  font-size: 5vmin;
}
.day,
.current-weather-conditions{
  opacity: 60%;
}
.datetime,
.current-weather-desc {
  opacity: 30%;
}

.weather-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vmin;
  height: 100vmin;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}

.forecast-selector{
  display: flex;
  font-size: 4vmin;
  gap: 1vmin;
}

.forecast-cards {
  flex-wrap: nowrap;
  display: flex;
  overflow: auto;
  max-width: 100%;
  gap: 1vmin;
}

.hourly-forecast-card {
  width: 20vmin;
  border-radius: 1vmin;
  height: 20vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(20, 0, 5, 0.4);
  gap: 1vmin;
}

.forecast-datetime {
  font-weight: 800;
}

.forecast-card-img {
  height: 8vmin;
}

.hourly-forecast-popover{
  box-sizing: border-box;
  width: 45vmin;
  height: 20vmin;
  background-color: rgba(217,217,217,0.5);
  box-shadow: none;
  color: black;
  padding: 2vmin;
}

.hourly-forecast-popover-stats{
  display: flex;
  gap: 2vmin;
  align-items: center;
  padding-top: 2vmin;
}

.hourly-forecast-popover-stats-column{
  display: flex;
  flex-direction: column;
  gap: 0vmin;
}

.hourly-forecast-description{
  text-align: center;
  margin-top: 1vmin;
  font-weight: 500;
}

ul{
  margin: 0;
  list-style-type: none;
}

.forecast-card-temperatures{
  display: flex;
  gap: 1vmin;
}

.forecast-card-temperature-min{
  opacity: 50%;
}